@tailwind base;
@tailwind components;
@tailwind utilities;

.rainbow_gradient {
  background: linear-gradient(
    to right,
    hsl(296, 100%, 92%, 0.7),
    hsl(191, 100%, 58%, 0.7),
    hsl(59, 100%, 75%, 0.7),
    hsl(336, 87%, 79%, 0.7),
    hsl(296, 100%, 92%, 0.7)
  );
}
.rainbow_gradient-text {
  background: linear-gradient(
    to right,
    hsl(296, 100%, 92%),
    hsl(191, 100%, 58%),
    hsl(59, 100%, 75%),
    hsl(336, 87%, 79%),
    hsl(296, 100%, 92%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.hero_gradient {
  background: linear-gradient(
    to bottom,
    hsl(0, 0%, 0%) 0%,
    hsl(262, 67%, 15%) 34%,
    hsl(262, 66%, 38%) 65%,
    hsl(270, 60%, 65%) 82%
  );
}

.radial_gradient {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 14%,
    rgba(149, 96, 235, 1) 100%
  );
}
